body {
    background: #ffffff;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#header {
    background: #ffffff;
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #FFF;
    
}

.company-img{
  height: 550px;
  width: 40%;
  max-width: 500px;
  border-radius: 20px;
  padding-left: 25px;
  float: left;
}
.about-1{
  border-radius: 10px;
}

.company{
  float: right;
  width: 60%;
  height: 450px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: justify;
}
.company h1{
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

#logotip{
  width: 100px;
  height: 100px;
}

.inf h1{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 5%;
  margin-right: 25%;
  text-align: justify;
}
.inf p{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 5%;
  margin-right: 25%;
  text-align: justify;
}


.ras{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  text-align: left;
  margin-left: 30px;
}

#res{
  text-align: left;
}

table{
  height: auto;
  width: 100%;
}

table th a{
  text-align: right;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.menu-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.active {
  font-weight: bold;
  color:blue ;
}

#container {
    
    background: #ffffff;
    text-align: center;
    width: 100%;
    height: 100px;
    
}
.viravn_block-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .viravn_block-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff ;
  }

#navigation {
    /*background: #dddfe2;*/
    width: 100%;
    height: auto;
}

#service_logo{
  height: 100px;
  width: 20%;
  float: left;
}
#service_name{
  font-size: 20px;
  float: right;
}
#service_opic{
  padding-top: +50px;
  float: right;
}
th h2{
  font-size: 25px;
}

#inf tr{
  width: 100%;
  height: 100px ;
  /*background: #000000;*/
  
}

.otsivi {
    padding: 0 0;
    background: #ffffff;
    color: #000000;
    text-align: center;
  }

  .otsiv { 
    width: 300px; 
    margin: 20px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    text-align: center; 
    box-shadow: 0 0 10px #ccc; 
    background: #FFF;
  } 
  
.prichina{
    width: 250px; 
    margin: 10px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    text-align: center; 
    color:#ffffff; 
    background: #0a192a;
    border-radius: 10px;
  }

.prichina h1{
  text-transform: uppercase;
  text-align: left;
  font-size: 25px;
}
.prichina p{
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  padding: 0;
}

  .sestim-donials{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .otsiv h1 { 
    font-size: 24px; 
    margin-top: 10px; 
  } 
  
  .otsiv p { 
    font-size: 16px; 
    margin-top: 10px; 
  } 

 #sidebar {
    background: #40E0D0;
    width: 100%;
    height: auto;
}

#content {
    background: #0a192a;
    float: right;
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 25px;
}

p{
  color: #000000;
}
table h1{
  color: #000000;
    font-size: 30px;
    text-align: left;
}

table p{
  text-align:justify;
  font-size: 25px;
}


  .product { 
    width: 300px; 
    margin: 20px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    text-align: center; 
    box-shadow: 0 0 10px #ccc; 
  } 
  
  .product img { 
    width: 60%; 
    height: auto; 
  } 
  
  .product h1 { 
    font-size: 24px; 
    margin-top: 10px; 
    color: #ffffff;
  } 
  
  .product p { 
    font-size: 16px; 
    margin-top: 10px; 
    color: #ffffff;
    } 
  
  .product button { 
    display: block; 
    margin: 10px auto; 
    padding: 10px 20px; 
    background-color: #ff6600; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
  } 

#clear {
    clear: both;
    
}

footer{
  position: relative;
  width: 100%;
  padding: 20px 50px;
  background: #3586ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.social,
.menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social li,
.menu li{
  list-style: none;
}
.social li a {
  font-size: 2em;
  color: #0a192a;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.menu li a {
  font-size: 1.2em;
  color: #0a192a;
  opacity: 0.75;
  margin: 0 15px;
  text-decoration: none;
  display: inline-block;
}
.menu li a:hover {
  opacity: 1;
}
footer p {
  color: #0a192a;
  text-align: center;
  margin-top: 15px;
  font-size: 1.1em;
}    

.social p{
  text-align: left;
}
.social li{
  margin: 50px;
}